# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs
.tmp/*
.tmp*/*
/fabric/src/main/generated/*
/neoforge/src/generated/*
/neoforge/src/generated/resources/data/smartbreedingtroughs/recipe/smart_trough.json
